/* reset */
*:focus{outline: none;}
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,th,td,form,fieldset,legend,label,input,select,textarea,button {margin:0; padding:0;}
body,h1,h2,h3,h4,h5,h6 {font-size:14px; font-family: 'Noto Sans', sans-serif;}
a {text-decoration:none; color:#333;}
ul,li {list-style:none;}
img,fieldset {border:none; vertical-align: middle;}
strong,em,address {font-weight:normal; font-style:normal;}
table {border-collapse:collapse;}
button{border: none; background: none;}