@import '_variables';

.root {
  width: 100%;
  .contants {
    width: 100%;
    .col6 {
      .boxboxbox{
        width: 500px;
        height: 500px;
        background-color: $dark-blue;
        // @include boxBorder();
        @include blueButton();
      }
    }
  }
}