
.comments {
  display: flex;

  .list-unstyled {
      
      li{
        font-size: 12px; line-height: 14px;
        .hidden-user {
          font-weight: 700;
          font-size: 13px;
          color: black;
        }
        .hidden-text{
          padding: 7px;
          display: inline-block;
          text-overflow: ellipsis;
          word-wrap: break-word;
          white-space: pre-wrap;
          color: #999;
          overflow: hidden;

        }
        .hidden-box {
          padding: 10px;
          border-radius: 2px;
          background-color: #f9f9f9;
          color: #111;
        }
      }
  }


}