
.comments {
  display: flex;

  .listUnstyled {
      
      li{
        font-size: 12px; 
        
        .commentWrap {
          padding: 0 12px;
          height: 27px;
          font-size: 13px;
          line-height: 14px;
          .hiddenUser {
            color: #bdc7d8;
            padding: 7px;
            display: inline-block;
            text-overflow: ellipsis;
            word-wrap: break-word;
            white-space: pre-wrap;
            overflow: hidden;
          }
          .hiddenText{
            padding: 7px;
            display: inline-block;
            text-overflow: ellipsis;
            word-wrap: break-word;
            white-space: pre-wrap;
            color: #222;
            overflow: hidden;
  
          }
        }
        .hiddenBox {
          padding: 7px;
          color: #111;
        }
      }
  }


}