/* Card */
.card {
  flex: 1;
  box-sizing: border-box;
  border: 2px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  min-width: 203px;
  text-align: left;
  margin: 0 12px;
  &:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
  }
  img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block;
  }
  .index {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0 10px;
  }
  .price {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
  }
  .details {
    position: relative;
  }
  .features {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 24px;
      margin-right: 10px;
      display: inline-block;
      span {
        display: none;
      }
    }
  }
}
