.cardSize {
  width: 25%;
  height: 350px;
  border-radius: 3px;
  overflow: hidden;
  
  .makeCard {
    width: 100%; height: 100%;
    transform-style: preserve-3d;
    transition: transform 5s;
    background-color: #fff;
    

    .cardContainer {
      position: relative;
      // more button
      .moreButton {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; left: 0; right: 0;
        z-index: 400;
        button {
          position: absolute;
          width: 120px;
          height: 30px;
          font-size: 14px;
          top: calc(50% - 15px);
          left: calc(50% - 60px);
          border: 1px solid #6e8cd5;
          color: #eee;
        }:hover { background-color: #6e8cd5; color: #fff;}
      }
    }
    .cardTextBox {
      padding: 8px; box-sizing: border-box;
      .make_price {
        float: right; color: #48cfad;
        font-size: 20px;
      }
      .make_title {
        color: #393c45;
        font-size: 20px;
      }
      p{
        color: #eee;
        font-size: 13px;
      }
    }

    .subTextBox {
      padding: 8px; box-sizing: border-box;
      strong {
        font-size: 14px;
        color: #393c45;
        display: block;
        margin-bottom: 4px;
      }
      span {
        font-size: 12px;
        color: #969699;
        display: block;
        margin-bottom: 12px;
      }
      .color {
        div {
          margin-top: 3px;
          width: 12px;
          height: 12px;
          margin-right: 5px;
          float: left;
          border-radius: 50%;
        }
        .c_blue{background-color: #6e8cd5}
        .c_red{background-color: #f56060};
        .c_white{background-color: #fff; border: 1px solid #e8e9eb;}
        .c_green{background-color: #44c28d};
      }
    }
  }
}
